<settings>
    <category label="One Pace Premium">
        <setting type="lsep" label="About" />
        <setting label="What's New" id="show_changelog" type="action" action="RunPlugin(plugin://plugin.video.onepacepremium/?action=show_changelog)" />
        <setting label="Support the Project" id="show_donate" type="action" action="RunPlugin(plugin://plugin.video.onepacepremium/?action=show_donate)" />
        <setting type="sep" />
        <setting type="lsep" label="Connection" />
        <setting label="Server URL" id="base_url" type="text" default="https://onepace-premium.e6ip.com" />
        <setting label="Stremio API Prefix" id="stremio_api_prefix" type="text" default="" visible="false" />
        <setting label="Configuration" id="secret_string" type="text" default="" />
        <setting label="Configure / Reconfigure" id="configure_secret" type="action" action="RunScript(special://home/addons/plugin.video.onepacepremium/lib/tools.py,configure_account)" />
    </category>
    <category label="Playback">
        <setting type="lsep" label="Stream Selection" />
        <setting label="Preferred Service" id="choose_preferred_service" type="action" action="RunScript(special://home/addons/plugin.video.onepacepremium/lib/tools.py,choose_preferred_service)" />
        <setting label="Showing" id="preferred_service_display" type="text" default="Always ask" enable="false" subsetting="true" />
        <setting id="preferred_service" type="text" default="" visible="false" />
        <setting label="Preferred Version" id="preferred_version" type="enum" default="0" values="Always ask|Standard|Extended" />
        <setting type="sep" />
        <setting type="lsep" label="Watched" />
        <setting label="Mark Watched At (%)" id="watched_threshold" type="slider" default="85" range="50,5,100" option="int" />
        <setting type="sep" />
        <setting type="lsep" label="Next Episode" />
        <setting label="Play Next Episode" id="autoplay_next" type="bool" default="false" />
        <setting label="Show Card Before End (secs)" id="autoplay_prompt_secs" type="slider" default="20" range="5,5,90" option="int" subsetting="true" enable="eq(-1,true)" />
        <setting label="Continue To Next Season" id="autoplay_next_season" type="bool" default="true" subsetting="true" enable="eq(-2,true)" />
        <setting type="sep" />
        <setting type="lsep" label="Torrent" />
        <setting label="Check Availability" id="setup_elementum" type="action" action="RunScript(special://home/addons/plugin.video.onepacepremium/lib/setup_elementum.py)" />
        <setting label="Direct Playback (experimental)" id="elementum_direct" type="bool" default="false" />
    </category>
    <category label="Lists">
        <setting type="lsep" label="Episodes" />
        <setting label="Episode Title Format" id="episode_title_format" type="enum" default="0" values="1x01. Title|Title" />
        <setting label="Hide Watched Episodes" id="hide_watched" type="bool" default="false" />
        <setting label="Use Episode Thumbnail As Background" id="thumb_fanart" type="bool" default="false" />
        <setting type="sep" />
        <setting type="lsep" label="Seasons" />
        <setting label="Show Specials" id="show_specials" type="bool" default="true" />
        <setting label="Skip Season List When Only One" id="flatten_single_season" type="bool" default="false" />
        <setting type="sep" />
        <setting type="lsep" label="Appearance" />
        <setting label="Show Name Colour" id="choose_highlight_color" type="action" action="RunScript(special://home/addons/plugin.video.onepacepremium/lib/tools.py,choose_highlight_color)" />
        <setting label="Showing" id="highlight_color_display" type="text" default="Cyan" enable="false" subsetting="true" />
        <setting id="highlight_color" type="text" default="ff00d4ff" visible="false" />
    </category>
    <category label="Subtitles">
        <setting label="Enable External Subtitles" id="subs_enabled" type="bool" default="true" />
        <setting label="Subtitle Languages" id="choose_sub_langs" type="action" enable="eq(-1,true)" action="RunScript(special://home/addons/plugin.video.onepacepremium/lib/tools.py,choose_sub_langs)" />
        <setting label="Showing" id="sub_langs_display" type="text" default="All languages" enable="false" subsetting="true" />
        <setting id="sub_langs" type="text" default="" visible="false" />
    </category>
    <category label="Downloads">
        <setting label="Enable Downloads" id="downloads_enabled" type="bool" default="false" />
        <setting type="sep" />
        <setting type="lsep" label="Where They Go" />
        <setting label="Download Folder" id="choose_download_folder" type="action" enable="eq(-3,true)" action="RunScript(special://home/addons/plugin.video.onepacepremium/lib/tools.py,choose_download_folder)" />
        <setting label="Showing" id="download_folder_display" type="text" default="Default" enable="false" subsetting="true" />
        <setting id="download_folder" type="text" default="special://profile/addon_data/plugin.video.onepacepremium/downloads/" visible="false" />
        <setting label="Move Existing Downloads" id="move_downloads" type="action" enable="eq(-6,true)" action="RunPlugin(plugin://plugin.video.onepacepremium/?action=move_downloads)" />
        <setting label="Rescan Download Folder" id="rescan_downloads" type="action" enable="eq(-7,true)" action="RunPlugin(plugin://plugin.video.onepacepremium/?action=rescan_downloads)" />
        <setting type="sep" />
        <setting type="lsep" label="In the Lists" />
        <setting label="Mark Downloaded Episodes" id="download_marker" type="bool" default="true" enable="eq(-10,true)" />
        <setting label="Play the Downloaded Copy" id="prefer_downloads" type="bool" default="true" enable="eq(-11,true)" />
        <setting type="sep" />
        <setting type="lsep" label="Updates" />
        <setting label="Check for Updates" id="check_updates" type="action" enable="eq(-14,true)" action="RunPlugin(plugin://plugin.video.onepacepremium/?action=check_updates)" />
        <setting type="sep" />
        <setting type="lsep" label="History" />
        <setting label="Last Download Summary" id="show_download_report" type="action" enable="eq(-17,true)" action="RunPlugin(plugin://plugin.video.onepacepremium/?action=show_download_report)" />
    </category>
    <category label="Tools">
        <setting type="lsep" label="Backup" />
        <setting label="Export Backup" id="export_settings" type="action" action="RunPlugin(plugin://plugin.video.onepacepremium/?action=export_settings)" />
        <setting label="Restore Backup" id="import_settings" type="action" action="RunPlugin(plugin://plugin.video.onepacepremium/?action=import_settings)" />
        <setting type="sep" />
        <setting type="lsep" label="Cache" />
        <setting label="Clear API Cache" id="clear_cache" type="action" action="RunScript(special://home/addons/plugin.video.onepacepremium/lib/tools.py,clear_cache)" />
        <setting label="Clear Subtitle Cache" id="clear_subs_cache" type="action" action="RunScript(special://home/addons/plugin.video.onepacepremium/lib/tools.py,clear_subs_cache)" />
        <setting label="Clear Bookmarks" id="clear_bookmarks" type="action" action="RunScript(special://home/addons/plugin.video.onepacepremium/lib/tools.py,clear_bookmarks)" />
        <setting label="Clear Watched History" id="clear_watched" type="action" action="RunScript(special://home/addons/plugin.video.onepacepremium/lib/tools.py,clear_watched)" />
        <setting type="sep" />
        <setting type="lsep" label="Advanced" />
        <setting label="Menu Caching" id="menu_cache" type="bool" default="true" />
        <setting label="Debug Logging" id="debug_logging" type="bool" default="false" />
        <setting id="last_seen_version" type="text" default="" visible="false" />
    </category>
</settings>
